# python functions
laod_env(){

    conda activate $1
}

deload(){
    conda deactivate
}

# Mac related Functions

remove_dmg(){
    cd ~/Downloads/ ; rm -rf *.dmg ; cd
}

clean_trash(){
    cd ~/.Trash ; rm -rf * ; cd
}
