#!/bin/sh
# python functions
load_env(){
    conda activate $1
}

deload(){
    conda deactivate
}

# Mac related Functions

remove_dmg(){
    cd ~/Downloads/ ; rm -rf *.dmg ; cd
}

clean_trash(){
    cd ~/.Trash ; rm -rf * ; cd
}

# Tmux session functions
open_website(){
    tmx start website
}

open_thesis(){
    tmx start thesis
}

open_interview(){
    tmx start interview
}

jupy_lab(){
    var="$1"
    if [ -z "$var" ]
    then
        jupyter lab --no-browser --port=8888 | sleep 4 |
        open -a /Applications/Safari\ Technology\ Preview.app "http://localhost:8888"
    else
        jupyter lab --no-browser --port="$var" | sleep 4 |
        open -a /Applications/Safari\ Technology\ Preview.app "http://localhost:$var"
   
    fi
}
